body {
  	background-color: #122847;
  	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
			border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.menuwrapper{
	text-align: center;
}
.section{
	text-align: center;
}
.titlebox{
	text-align: center;
	vertical-align: center;
	border: 0px;
	margin: 0px;
	padding-bottom: 120px;
	padding-left: 20px;
	position: relative;
	bottom: 25%;
}
.title{
	opacity: 0;
	display: inline-block;
	text-align: left;
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 8em;
	color: #89cff0;
	margin: -20px;
}
.firstpage{
	opacity: 0;
	text-align: center;
	background-color: #122847;
	background-image: url('../UniteOurCampusBGFinal.png');
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: 80%;
	-moz-background-size: 80%;
	-o-background-size: 80%;
	background-size: 80%;
	display: none;

}
.heading{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 5em;
	color: #122847;
}
.secondpage{
  background-color: #89cff0;	
}
.about{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color:#122847;
	font-weight: 300;
	font-size: 2em;
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 100px; 
}
.thirdpage{
	text-align: center;
	background-color: #FFFFFF;
}
.headingline{
	background-color: #89cff0;
	height: 2px;
}
.headinglinecontainer{
	width: 960px;
	margin: auto;
	padding-top: 0px;
	padding-bottom: 10px;
}
.schedule{
	font-weight: bold;
}
.breakoutleft{
	text-align: right !important;
}
.breakoutright{
	text-align: left !important;
}
.breakout{
	font-style: italic;
	font-size: 1.5em;
	padding: 0px;
	margin: 6px;
}
.line{
	background-color: #122847; 
	height: 1px;
}
.linecontainer{
	width:300px;
	margin:auto;
}
.highlight{
	color: #CC0033;
}
.speaker{
	font-weight: bold;
	font-size: 3em;
	text-align: left;
	color: #424f4f;
}
.speakercontainer{
	text-align: center;
	padding-left: 200px;
	padding-right: 200px;
}
.aboutspeaker{
	text-align: left;
	font-family: 'Roboto', sans-serif;
	color:#122847;
	font-weight: 300;
	font-size: 1.5em;
	padding-top: 20px;

}
.slidepage1{
	text-align: center;
}
.fourthpage{
 	text-align: center;
	background-color: #FA6300;
}
.form-group{
	text-align: top;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2em;
}
.form-control{
	margin: auto;
	border : 3px solid #122847;
	font-size: 16px;
	width: 300px;
}
.button{
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #FA6300;
    text-align: center;
    color: #122847;
    font-size: 40px;
	border-radius: 2px;
	border: 2px solid #122847;
}
button:hover {
  background-color: #122847;
  color: #FFFFFF;
}

.sponsorheading{
	color: #FFFFFF;
	padding-bottom: 10%;
}
.cubelogo{
	height: 50%;
	width: 50%;
}
.msalogo{
	height: 45%;
	width: 45%;
}
.center-block {
  margin-left: auto;
  margin-right: auto;
}
.endorsers{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2em;
	color: #FFFFFF;
}
.fundedby{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	color: #89cff0;
}
.teamheading{
	color: #FFFFFF;
	padding-bottom: 5%;
}
.teamlist
{
	text-align: center;
	margin: 0 auto;
	font-size: 2em;
 	color: #122847;
}

/* #### Mobile Phone in Portrait Orientation #### */
/*@media screen and (max-device-width: 480px) and (orientation: portrait){*/
/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

	#menu{
		zoom: 0.8 !important;
	}
	.firstpage{
		background-position: 41% 48%;
	}
	.title{
		margin-top: 125px;
		font-size: 3em;
	}
	.heading{
		font-size: 2.5em;
		padding-top: 70px;
	}
	.about{
		font-size: 1em;
		padding-top: 20px;
		padding-left: 50px;
		padding-right: 50px; 
	}
	.headinglinecontainer{
		width: 300px;
		padding-bottom: 0px;
	}
	.linecontainer{
		width: 150px;

	}
	.schedule{
		font-weight: initial;
		font-size: 1.2em;
	}
	.breakout{
		padding: 0px;
		margin: 0px;
		font-size: 1em;
	}
	.breakoutleft{
		text-align: right !important;
	}
	.breakoutright{
		text-align: left !important;
	}
	.breakoutcenter{
		text-align: left !important;
	}
	.speaker{
	font-size: 1.2em;
	text-align: left;
	color: #424f4f;
	}
	.speakercontainer{
		text-align: left !important;
		padding-left: 20px;
		padding-right: 10px;
		padding-bottom: 0px;
	}
	.aboutspeaker{
		font-family: 'Roboto', sans-serif;
		color:#122847;
		font-weight: 300;
		font-size: 1em;
	}
	#form{
		zoom: 0.55 !important;
	}
	.teamlist{
		text-align: center;
		margin: 0 auto;
		font-size: 1.5em;
	 	color: #122847;
	}
	.registersub{
		font-size: 2em;
	}
	.button{
		zoom: 0.8 !important;
	}
	.cubelogo{
	height: 30%;
	width: 30%;
	}
	.msalogo{
		height: 30%;
		width: 30%;
	}
	.endorsers{
		font-size: 1.5em;
	}
	.fundedby{
		font-size: 1.5em;
	}
}

/*####  iPhone5 in Portrait Orientation #### */
/*@media screen and (max-device-width: 320px) and (orientation: portrait)*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

	#menu{
		zoom: 0.7 !important;
	}
	.firstpage{
		background-position: 36% 48%;
	}
	.title{
		margin-top: 125px;
		font-size: 3em;
	}
	.heading{
		font-size: 2.5em;
		padding-top: 70px;
	}
	.about{
		font-size: 0.9em;
		padding-top: 20px;
		padding-left: 50px;
		padding-right: 50px; 
	}
	.headinglinecontainer{
		width: 280px;
		padding-bottom: 0px;
	}
	.linecontainer{
		width: 150px;

	}
	.schedule{
		font-weight: initial;
		font-size: 1.2em;
	}
	.breakout{
		padding: 0px;
		margin: 0px;
		font-size: 1em;
	}
	.breakoutleft{
		text-align: right !important;
	}
	.breakoutright{
		text-align: left !important;
	}
	.breakoutcenter{
		text-align: left !important;
	}
	.speaker{
	font-size: 1.2em;
	text-align: left;
	color: #424f4f;
	}
	.speakercontainer{
		text-align: left !important;
		padding-left: 20px;
		padding-right: 10px;
		padding-bottom: 0px;
	}
	.aboutspeaker{
		font-family: 'Roboto', sans-serif;
		color:#122847;
		font-weight: 300;
		font-size: 1em;
	}
	#form{
		zoom: 0.4 !important;
	}
	.registersub{
		font-size: 2em;
	}
	.teamlist{
		text-align: center;
		margin: 0 auto;
		font-size: 1.5em;
	 	color: #122847;
	}
	.button{
		zoom: 0.6 !important;
	}
	.cubelogo{
		height: 30%;
		width: 30%;
	}
	.msalogo{
		height: 30%;
		width: 30%;
	}
	.endorsers{
		font-size: 1.5em;
	}
	.fundedby{
		font-size: 1.5em;
	}
}

/*####  iPad in Portrait Orientation #### */
/*@media screen and (max-device-width: 768px) and (orientation: portrait){*/
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

	.firstpage{
		background-position: 36% 48%;
	}
	.title{
		margin-top: 150px;
		font-size: 4em;
	}
	.heading{
		font-size: 3.2em;
	}
	.about{
		font-size: 2em;
		padding-top: 20px;
		padding-left: 50px;
		padding-right: 50px; 
	}
	.headinglinecontainer{
		width: 500px;
		padding-bottom: 20px;
	}
	.linecontainer{
		width: 250px;

	}
	.schedule{
		font-weight: initial;
		font-size: 2em;
	}
	.breakout{
		padding: 0px;
		margin: 0px;
		font-size: 1.5em;
	}
	.breakoutleft{
		text-align: right !important;
	}
	.breakoutright{
		text-align: left !important;
	}
	.breakoutcenter{
		text-align: left !important;
	}
	.speaker{
	font-size: 2em;
	text-align: left;
	color: #424f4f;
	}
	.speakercontainer{
		text-align: left !important;
		padding-left: 55px;
		padding-right: 50px;
		padding-bottom: 0px;
	}
	.aboutspeaker{
		font-family: 'Roboto', sans-serif;
		color:#122847;
		font-weight: 300;
		font-size: 1.5em;
	}
	#form{
		zoom: 0.8 !important;
	}
	.registersub{
		font-size: 3em;
	}
	.teamlist{
		text-align: center;
		margin: 0 auto;
		font-size: 3em;
	 	color: #122847;
	}
	.button{
		zoom: 0.8 !important;
	}
	.cubelogo{
		height: 35%;
		width: 35%;
	}
	.msalogo{
		height: 35%;
		width: 35%;
	}
	.endorsers{
		font-size: 2em;
	}
	.fundedby{
		font-size: 2em;
	}
}