<form id='form' action='/register' method="POST">
    <div class="form-group">
    	Name:
        <input type="text" class="form-control" name="name" placeholder="Name" required>
        Email:
        <input type="text" class="form-control" name="email" placeholder="Email" required>
        NetId:
        <input type="text" class="form-control" name="netId" placeholder="NetId" required>
        How did you hear about us?:
        <input type="text" class="form-control" name="heard" placeholder="How did you hear about us?" required>
        <fieldset>
        	Ethnicity:
            <input type="radio" class="form-control" name="ethnicity" checked>
            Hispanic or Latino origin <br>
            <input type="radio" class="form-control" name="ethnicity">
            White American, European American <br>
            <input type="radio" class="form-control" name="ethnicity">
            Black American or African American <br>
            <input type="radio" class="form-control" name="ethnicity">Native American or Alaska Native <br>
            <input type="radio" class="form-control" name="ethnicity">
            Asian American <br>
            <input type="radio" class="form-control" name="ethnicity">
            Native Hawaiians or Other Pacific Islander <br>
        </fieldset>
        <button type='submit'></button>
    </div>
    </for