<form id='form' action='/register' method="POST">
    <div class="form-group">
    	Name:
        <input type="text" class="form-control" name="name" placeholder="Name" required>
        Email:
        <input type="text" class="form-control" name="email" placeholder="Email" required>
        NetId:
        <input type="text" class="form-control" name="netId" placeholder="NetId" required>
        How did you hear about us?:
        <input type="text" class="form-control" name="heard" placeholder="How did you hear about us?" required>
        <fieldset>
        	Ethnicity:
            <input type="radio" class="form-control" name="ethnicity" placeholder="Hispanic or Latino origin" required>
            <input type="radio" class="form-control" name="ethnicity" placeholder="White American, European American" required>
            <input type="radio" class="form-control" name="ethnicity" placeholder="Black American or African American" required>
            <input type="radio" class="form-control" name="ethnicity" placeholder="Native American or Alaska Native" required>
            <input type="radio" class="form-control" name="ethnicity" placeholder="Asian American" required>
            <input type="radio" class="form-control" name="ethnicity" placeholder="Native Hawaiians or Other Pacific Islander" required>
        </fieldset>
        <button type='submit'></button>
    </div>
    </for